# PSoC Creator build artifacts
codegentemp/
CortexM0/
BUILD.log
*.cyfit
*.rpt
*.svd
*_timing.html
*.cycdx
*.vboxuser
Export/

# Generated_Source: solo los 3 ficheros clave; el resto son boilerplate de dispositivo
Generated_Source/PSoC4/CyLib.*
Generated_Source/PSoC4/CyFlash.*
Generated_Source/PSoC4/CyLFClk.*
Generated_Source/PSoC4/cyPm.*
Generated_Source/PSoC4/cyutils.*
Generated_Source/PSoC4/cymetadata.*
Generated_Source/PSoC4/Cm0*
Generated_Source/PSoC4/CyBootAsm*
Generated_Source/PSoC4/cmsis*
Generated_Source/PSoC4/core_*
Generated_Source/PSoC4/cy_em_eeprom.*
Generated_Source/PSoC4/cypins.h
Generated_Source/PSoC4/cytypes.h
Generated_Source/PSoC4/cydis*
Generated_Source/PSoC4/cyapicallbacks.h
Generated_Source/PSoC4/cyfitter_cfg.h
Generated_Source/PSoC4/cyfitter*.inc
Generated_Source/PSoC4/*gnu*
Generated_Source/PSoC4/*iar*
Generated_Source/PSoC4/*rv*
Generated_Source/PSoC4/*.ld
Generated_Source/PSoC4/*.icf
Generated_Source/PSoC4/*.scat
Generated_Source/PSoC4/Clock_1.*
Generated_Source/PSoC4/UART_1.*
Generated_Source/PSoC4/Status_Reg_1.*
